
<% @articles.each do |article| %>
  <div id=header>
    <p><%= article.header %></p>
  </div>

  <div id=subheader>
    <p><%= article.subheader %></p>
  </div>

  <div id=subheader>
    <p><%= article.body %></p>
  </div>

<% end %>