%ul.list-reset.flex
    %li.mr-6
        %a.text-blue.hover:text-blue-darker{:href => "#"} News
    %li.mr-6
        %a.text-blue.hover:text-blue-darker{:href => "#"} Business
    %li.mr-6
        %a.text-blue.hover:text-blue-darker{:href => "#"} Politics
    %li.mr-6
        %a.text-blue.hover:text-blue-darker{:href => "#"} Sport